# Задание 1

In [1]:
import pandas as pd
import numpy as np

In [2]:
authors = pd.DataFrame({'author_id':[1, 2, 3],
                   'author_name':['Тургенев', 'Чехов', 'Островский']},
                       columns=['author_id', 'author_name']) 
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [3]:
books = pd.DataFrame({'author_id':[1,1,1,2,2,3,3],
                     'book_title':['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price':[450, 300, 350, 500, 450, 370, 290]},
                      columns=['author_id', 'book_title', 'price'])
print(books)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание 2

In [4]:
authors_price = pd.merge(authors, books, on = 'author_id', how = 'inner')
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание 3

In [5]:
top5 = authors_price.sort_values(by='price', ascending=False).head()
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание 4

In [6]:
authors_stat = authors_price.copy()
authors_stat = authors_stat.drop(['author_id', 'book_title'], axis = 1)
authors_stat = authors_stat.groupby('author_name').agg([np.min, np.max, np.mean])
print(authors_stat)

            price
             amin amax        mean
author_name
Островский    290  370  330.000000
Тургенев      300  450  366.666667
Чехов         450  500  475.000000

Задание 5

In [11]:
authors_price['cover'] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

In [ ]:
authors_price2 = pd.pivot_table(authors_price, values='price', index=['author_name'], 
                             columns=['cover'], aggfunc=np.sum)
print(authors_price2)